<ngb-accordion #acc="ngbAccordion" activeIds="source-list">
    <ngb-panel title="Add Lexicon Source" id="add-source">
        <template ngbPanelContent>
            <div class="form-group row">
                <label for="class-name" class="col-4 col-form-label">Class Name</label>
                <div class="col-8">
                    <!--<input type="text" class="form-control" [(ngModel)]="newLexiconSource.className">-->
                    <select class="form-control" [(ngModel)]="newLexiconSource.className">
                        <option *ngFor="let s of classNames" [ngValue]="s">{{s}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="species" class="col-4 col-form-label">Species</label>
                <div class="col-8">
                    <select class="form-control" [(ngModel)]="newLexiconSource.species">
                        <option *ngFor="let s of species" [ngValue]="s">{{s.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="source" class="col-4 col-form-label">Name</label>
                <div class="col-8">
                    <input type="text" class="form-control" [(ngModel)]="newLexiconSource.source">
                </div>
            </div>
            <div class="form-group row">
                <label for="prefix" class="col-4 col-form-label">Prefix</label>
                <div class="col-8">
                    <input type="text" class="form-control" [(ngModel)]="newLexiconSource.prefix">
                </div>
            </div>
            <div class="form-group row">
                <label for="url" class="col-4 col-form-label">URL</label>
                <div class="col-8">
                    <input class="form-control" type="url" [(ngModel)]="newLexiconSource.urlConstructor">
                </div>
            </div>
             <div class="form-group row">
                <label for="notes" class="col-4 col-form-label">Notes</label>
                <div class="col-8">
                    <input class="form-control" type="notes" [(ngModel)]="newLexiconSource.notes">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <button class="btn btn-primary" (click)="createLexiconSource(); acc.toggle('add-source')">Save
                    </button>
                </div>
                <div class="col-6">
                    <button class="btn btn-secondary" (click)="acc.toggle('add-source')">Cancel</button>
                </div>
            </div>
        </template>
    </ngb-panel>


    <ngb-panel title="Lexicon Source List" id="source-list">
        <template ngbPanelContent>
            <div class="form-group row">
                <label for="species" class="col-4 col-form-label">Species</label>
                <div class="col-8">
                    <select class="form-control" (ngModelChange)="filterBySpecies($event)"
                            [(ngModel)]="selectedSpecies">
                        <option *ngFor="let s of species" [ngValue]="s">{{s.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="lexicon-type" class="col-4 col-form-label">Lexicon Type</label>
                <div class="col-8">
                    <select class="form-control" (ngModelChange)="filterByType($event)" [(ngModel)]="selectedType">
                        <option *ngFor="let type of classNames" [ngValue]="type">{{type}}</option>
                    </select>
                </div>
            </div>

            <ul class="list-group">
                <li *ngFor="let source of lexiconSources"
                    class="list-group-item list-group-item-action justify-content-between">
                    <a [routerLink]="['/lexica',source.id]">
                        {{source.source}} {{source.className}} ({{source.lexicaCount}})
                    </a>
                    <a class="btn btn-sm btn-danger" href="#" role="button" (click)="open(deletesource, source.id)">&times;</a>
                </li>
            </ul>
        </template>
    </ngb-panel>
</ngb-accordion>

<ng-template #deletesource let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button role="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete Lexicon Source {{removeId}}?</p>

    </div>
    <div class="modal-footer">
        <button role="button" class="btn btn-danger" (click)="confirmDelete(); c()">Delete</button>
        <button role="button" class="btn btn-secondary" (click)="c()">Cancel</button>
    </div>
</ng-template>
