.wrapLinks{
    word-break: break-all;
    /*word-break: break-word;*/
}

.outlineLinks{
    border: 1px solid lightblue;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    background-color: white;
}

.collapse-expand{
    border: solid darkgray thin;
}

.collapse-expand :hover{
    cursor: pointer;
    color: gray;
}

.outlineSquares {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    background-color: white;
}

.button-pointer{
    cursor: pointer;
}